{{#partial "title"}}
    Form
{{/partial}}

{{#partial "content"}}
    <form action="/change">
        <label for="amount">Amount</label><br>
        <input type="text" name="amount" id="amount" class="form-control"><br>
        <button type="submit" class="btn btn-success">Get Change</button>
    </form>
{{/partial}}
{{> layout.hbs}}